@import url(https://cdn.jsdelivr.net/font-nanum/1.0/nanumgothic/nanumgothic.css);

.nanumgothic * {
 font-family: 'Nanum Gothic', sans-serif;
}

:root {
    --clr-dark: #0f172a;
    --clr-light: #f1f5f9;
    --clr-accent: #e11d48;
    --clr-upper: rgb(31, 29, 29);

}

body, html {
    font-family: 'Nanum Gothic';
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0; /* 추가: 기본 패딩 제거 */
}

.pages {
    width: 100%;
    height: 100%;
    /* display: flex;
    flex-direction: column; */
    box-sizing: border-box;
}

.page {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    padding: 0;
    color: var(--clr-light);
    text-align: center;
    /* border: 15px solid var(--clr-accent); */
    box-sizing: border-box;
}

/* 첫번째 페이지 */
#page1 {
    margin-top: auto;
    /* filter:blur(3px); */
    /* opacity: 0.9; */
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}



#page2{
    background-color: white;
}

#page3{
    background-color: #f26e19;
}


#page4{
    background-color: #235aac;
}

#page5{
    background-color: white;
}

.image-box {
    width: 100%;
    height: 100%;
    background-image: url('https://wwwk.kangwon.ac.kr/DATA/bbs/21/20230831160609082rKE.jpg');
    background-size: cover;
    filter:brightness(66%);
    /* filter:blur(2px); */
}

.text-box {
    text-align: center; /* 텍스트 가운데 정렬 */
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* padding: 20px; */
    z-index: 1;
    position: absolute;
    /* font-size : 2em; */
    font-family: 'Lato';
    font-weight : 700;
}

.lab-name {
    font-size : 4em;
    margin-bottom : 1%;
}
/* .lab-text{

} */
.univ-name {
    font-size : 1.5em;
}   

.upperbox {
    width: 100%;
    height: 6.6%;
    background-color: rgba(255, 255, 255, 0);
    padding: 0;
    color: white;
    text-align: left;
    /* border: 15px solid var(--clr-upper); */
    /* opacity: 0; */
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: 0px 3px 5px -3px grey;;
}

.upperbox-items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 100%
}

.left {
    height: 100%;
    /* width:25%; */
    /* border: 3px solid var(--clr-dark); */
    box-sizing: border-box;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo-text {
    display: flex;
    flex-direction: row;
    height: 100%;
    /* border: 3px solid var(--clr-dark); */
    box-sizing: border-box;
    align-items: center;
}

.menus {
    height: 100%;
    width:30%;
    /* border: 3px solid var(--clr-dark); */
    box-sizing: border-box;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menuitem {
    display: flex;
    height: 100%;
    /* border: 3px solid var(--clr-accent); */
    box-sizing: border-box;
    align-items: center;
    font-family: sans-serif;
    padding-right: 10px;
}

.logo img {
    
    width: auto; /* 이미지 너비 조절 예시 */
    height: 80%; 
    /* margin-bottom: 10%; */
    margin-right: 10px;
    /* border: 2px solid #ccc;  */
}

.introduce img{
    padding-left: 5vw;
    width:500px;

}
.page.pc{
    height: 70vh;
}
.page.mobile{
    display: none;
}

@media(max-width:500px){
    .introduce{
        flex-direction: column;
    }
    .introduce img{
        padding-left: 0px;
        width:100%;
        display: absolute;
        z-index: 1;
    }
    .page.pc{
        display: none;
    }
    .page.mobile{
        display: block;
    }
    #page3{
        z-index: -1;
    }
}
